.customer-table {
  width: 100%;
  text-align: left;
  border: 1px solid gray;
  border-collapse: collapse;
  font-size: 13px;
}

.customer-thead {
  font-weight: bold;
}

.button-action {
  display: block;
  width: 80%;
  height: 40px;
}

.customer-row {
  padding: 10px 0;
  height: 100%;
  align-items: stretch;
  border: 1px solid gray;
}

.customer-row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer-tbody .customer-row > div {
  min-height: 162px;
}

.column-device {
  cursor: pointer;
  position: relative;

  span {
    padding-left: 20px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 14px;
    top: 75px;
    width: 2px;
    height: 10px;
    background-color: black;
    transform: rotate(-45deg);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 75px;
    width: 2px;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
  }
}

.second-menu {
  &__element {
    text-transform: uppercase;
    cursor: pointer;
  }
}
