@import 'normalize';
@import 'flexboxgrid';
@import 'mixin';

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}

#root {
  height: 100%;
}

#root > [data-reactroot] {
  height: 100%;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.border {
  border: 1px solid black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

.wrapper-content {
  flex: auto;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrapper-main {
  height: calc(100% - 100px);
}

.aside > div {
  height: 100%;
}

.component-title {
  @include title;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@media (max-width: 1200px) {
  .header,
  .footer {
    min-width: 1200px;
  }
}
